body {
    font-family: 'Roboto', sans-serif;
    color: #707070;
}
nav {
    background-color: #28A745;
}
.logo01 {
    width: 120px;
}
/*columnas*/
.direccion {
    text-align: center;

}
.precio {
  color: #28A745;
}
/*formulario*/
.formulario {
    background-color:#28A745;
    color: white;
}
/*footer*/
.logo2{
    width: 170px;
}




