body {
    font-family: 'Roboto', sans-serif;
    color: #707070;
    font-size: 14px;
}
h5{
    font-size: 16px;
}
nav {
    background-color: #28A745;
}

.logo01 {
    width: 120px;
}

/*columnas*/

.precio {
  color: #28A745;
}

/*formulario*/

.formulario {
    background-color:#28A745;
    color: white;
}

/*footer*/

.logo2{
    width: 170px;
    vertical-align: middle;
   

}
.footertext {
   font-size:10px;
}

