body {
    font-size: 14px;
    font-family: "roboto", sans-serif;
}
h5{
    font-size: 16px;
}
nav {
    background-color: #28A745;
}

.logo01 {
    width: 120px;
}

/*columnas*/

.precio {
  color: #28A745;
  text-decoration: none;
  font-size: 20px;
}

/*formulario*/

.formulario {
    background-color:#28A745;
    color: white;
}

/*footer*/

.logo2{
    width: 170px;
}
.footertext {
   font-size:14px;
}

